/* Move down content because we have a fixed navbar that is 3.5rem tall */
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body {
  font-family: 'Gloria Hallelujah', cursive;
  padding-top: 3.5rem;
}

.jumbotron{
      background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.8) 100%), url("http://static.t13.cl/images/sizes/1200x675/1508151008-98299584gettyimages-497707356.jpg");
      background-repeat:no-repeat;
      background-size:cover;
      background-position: center center;
}
